.head{
  background-image: url(../img/landing.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}

.header-font{
  color: silver;
}

strong{
  color: white;
}

.top-navbar{
  text-align: center;
}

#d{
  background-color: silver;
  height: 80px;
  color: black;
  text-align:center;
}

#d:hover{
  background-color: #F15A29;
  color: black;
}

#e{
  background-color: #F15A29;
  height: 80px;
  color: white;
  text-align:center;
}
#e:hover{
  background-color: grey;
  color: black;
}
.main{
  margin-right: 0px;
padding-right: 0px;
}
.al{
  width: 20px;
}
.ro{
  text-align: right;
}

.clas{
  text-align: center ;
}
.pic{
  text-align: center;
}
.glyphicn{
  color: #F15A29;
  padding: 10px 20px 10px 20px;
  background-color: white;
  border-style: solid;
  border-color: #F15A29;
}
.glyphic{
  color: #F15A29
}
.ken{
  background-image: url(../img/subscribe.jpg);
  height: 300px;
}
.w{
  color: white;
}
.cc{
  padding-top: 30px;
  margin: 10px auto;
  margin-top: 100px;
}
#gly{
  background-color: #F15A29;
  color: white;
  border-style: none;
}
#tes{
  opacity: 0.5;
  border-style: none;
}
.a{
  background-image: url(../img/breakfast.jpg);
  height: 200px;
  color: white;
  text-align:center;

}
.a:hover{
  background-color: grey;
  opacity:0.5;
  color: black;
}
.b{
  background-image: url(../img/lunch.jpg);
  height: 200px;
  color: white;
  text-align:center;
}
.b:hover{
  background-color: grey;
  opacity:0.5;
  color: black;
}
.c{
  background-image: url(../img/dinner.jpg);
  height: 200px;
  color: white;
  text-align:center;
}
.c:hover{
  background-color: grey;
  opacity:0.5;
  color: black;
}


.liam{
  background-image: url(../img/foodsBg.jpg);
height: 300px;
}
.bobo{
  margin-left:200px;
  margin-top: 15px;
  height: 50px;
}
.lolo{
  margin-bottom: 20px;
  text-align: center;
}
.don{
  background-color: #F15A29;
  height: 300px;

}

.lop{
  text-align: center;
  padding-top: 100px;
}
footer{
  padding-top: 60px;
}
.container lop{
  color: white;
}
